<h1>Session Details:</h1>
<p>
  <span class="detail-title"><%= @session.course.type %> - <%= @session.start_time %></span>
  <p>Session Capacity:  <%= @session.capacity %></p>
  <p>Members Registered:  <%= @session.members.count %></p>
  <p>Available Spaces:  <%= @session.vacancies() %></p>
  <div class="update-delete">
    <form class="" action="/sessions/<%= @session.id %>/edit" method="get">
      <input type="submit" name="" value="Update Session">
    </form>
    <form class="" action="/sessions/<%= @session.id %>/delete" method="post">
      <input type="submit" name="" value="Delete Session">
    </form>
  </div>
</p>
<p><a href="/bookings/<%= @session.id %>/s_new">Book a member</a> </p>
<h2>Members Registered</h2>
<hr>
<% @members.each do |member| %>
<p><a href="/members/<%= member.id %>"><%= member.member_name() %></a></p>
<div class="update-delete">
  <form class="" action="/bookings/<%= member.booking(@session.id).id %>/edit" method="get">
    <input type="submit" name="" value="Update Booking">
  </form>
  <form class="" action="/bookings/<%= member.booking(@session.id).id %>/delete" method="post">
    <input type="submit" name="" value="Delete Booking">
  </form>
</div>
<hr>
<% end %>
<h2>Waitlist</h2>
<hr>
<% @waiters.each do |waiter| %>
<p><a href="/members/<%= waiter.id %>"><%= waiter.member_name() %></a></p>
<div class="update-delete">
  <form class="" action="/bookings/<%= waiter.booking(@session.id).id %>/edit" method="get">
    <input type="submit" name="" value="Update Booking">
  </form>
  <form class="" action="/bookings/<%= waiter.booking(@session.id).id %>/delete" method="post">
    <input type="submit" name="" value="Delete Booking">
  </form>
</div>
<hr>
<% end %>
