<h1>Member Details:</h1>
<p>Name: <%= @member.member_name %> <form method="get" action="/members/<%= @member.id %>/edit">
  <input type="submit" value="Update Details"/> <form method="post" action="/members/<%= @member.id %>/edit">
  <input type="submit" value="Delete Member"/></p>
<p>Book a session</p>
<p>Sessions:</p>
<% @sessions.each do |session| %>
<p><%= session.course.type %> - <%= session.start_time %> </p>
<% end %>
