<h1>Edit Booking Details</h1>
<p>
  <form class="" action="/bookings/<%= @booking.id %>/edit" method="post">
    <label for="member-selection">Member:
    <select class="" name="member_id" id="member-selection">
      <% for member in @members %>
      <option value="<%= member.id %>" <%= "selected" if @booking.member.member_name == member.member_name %>><%= member.member_name %>
      </option>
      <% end %>
    </select>
    </label>
    <label for="session-selection">Session:
    <select class="" name="session_id" id="session-selection">
      <% for session in @sessions %>
      <option value="<%= session.id %>" <%= "selected" if @booking.session.id == session.id %>><%= session.course.type %> - <%= session.start_time %>
      </option>
      <% end %>
    </select>
    </label>
  </p>
    <p>
    <div class="update-delete">
      <input type="submit" name="" value="Update Booking">
    </div>
  </p>
  </form>
